:root {
    --Grayscale-N100: #ececed;
    --Grayscale-White: #fff;
    --Grayscale-N900: #14141f;
    --Grayscale-N600: #4c4c55;
    --Secondary-G400-Default: #008b5d;
    --Grayscale-N200: #e3e3e4;
    --Primary-B400-Default: #1688fe;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("assets/gilroy/Gilroy-Medium.ttf");
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url("assets/gilroy/Gilroy-Bold.ttf");
}
@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("assets/gilroy/Gilroy-SemiBold.ttf");
}
@font-face {
    font-family: "Gilroy-Regular";
    src: url("assets/gilroy/Gilroy-Regular.ttf");
}

html,
body,
#root {
    background-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy-Medium";
}

.flex-1 {
    flex: 1;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
}
